<tr class="instruction2FA google_authInstruction" style="<%= style %>">
  <td colspan="3">
    <%= t 'redmine_2fa.second_authentications.google_auth.instruction_html' %>
    <%= render 'account/init_2fa/google_auth_qr_code', qr: protocol.generate_qr(@user) %>
    <p><%= t 'redmine_2fa.second_authentications.google_auth.next_step_instruction' %></p>
  </td>
</tr>
<tr class="instruction2FA google_authInstruction" style="<%= style %>">
  <%= form_tag(confirm_otp_path) do %>
    <td align="right">
      <label for="otp_code"><%= t 'redmine_2fa.auth_code' %>:</label>
    </td>
    <td align="right" style="width: 140px;">
      <%= text_field_tag :otp_code, nil, autocomplete: 'off', autofocus: true %>
    </td>
    <%= hidden_field_tag :protocol, 'google_auth' %>
    <td colspan="1">
      <input type="submit" name="login" value="<%= l('redmine_2fa.second_authentications.next_input_html') %>"/>
    </td>
  <% end %>
</tr>
