<tr class="instruction2FA google_authInstruction" style="<%= style %>">
  <td colspan="3">
    <%= t 'redmine_2fa.second_authentications.google_auth.instruction_html' %>
    <%= render 'account/init_2fa/google_auth_qr_code' %>
    <p><%= t 'redmine_2fa.second_authentications.google_auth.next_step_instruction' %></p>
  </td>
</tr>
<tr class="instruction2FA google_authInstruction" style="<%= style %>">
  <td align="left" colspan="2"></td>
  <td align="right" colspan="1" class="next2FAStep">
    <%= submit_tag t('redmine_2fa.second_authentications.next_button_html'), onclick: "$('#init2FAForm').submit();" %>
  </td>
</tr>
