<tr class="instruction2FA smsInstruction" id="smsInstruction" style="<%= style %>">
  <td colspan="3">
    <%= t('redmine_2fa.second_authentications.sms.instruction') %>
  </td>
</tr>
<tr class="instruction2FA smsInstruction" id="smsInstruction" style="<%= style %>">
  <%= form_tag(user_mobile_phone_update_path, method: 'put', remote: true) do %>
    <td colspan="2" align="right">
      +<%= text_field_tag 'user[mobile_phone]', @user.mobile_phone, placeholder: '79283124585' %><br>
      <em class="info">
        <%= t('redmine_2fa.second_authentications.sms.mobile_phone_hint_html') %>
      </em>
    </td>
    <td align="left" style=" vertical-align: top;">
      <%= submit_tag t('redmine_2fa.second_authentications.sms.mobile_phone_submit') %>
      <em class="info error" id="mobilePhoneError"></em>
    </td>
  <% end %>
</tr>
<tr class="instruction2FA smsConfirm" id="smsConfirm" style="<%= style %>">
  <%= form_tag(user_mobile_phone_confirm_path, remote: true) do %>
    <td colspan="2" align="right" style=" vertical-align: top;">
      <%= text_field_tag 'code', nil, placeholder: '123456' %>
      <em class="info">
        <%= t('redmine_2fa.second_authentications.sms.confirm_hint') %>
      </em>
    </td>
    <td align="left" style=" vertical-align: top;">
      <%= submit_tag t('redmine_2fa.second_authentications.sms.confirm_submit') %>
      <em class="info error" id="mobilePhoneConfirmationError"></em>
    </td>
  <% end %>
</tr>
