<% unless Redmine::Plugin.installed?('redmine_telegram_common') %>
  <h1 style="text-align: center">
    !!! <a href="https://github.com/centosadmin/redmine_telegram_common" target="_blank">redmine_telegram_common</a>
    <%= t('redmine_2fa.settings.required') %> !!!
  </h1>
<% end %>

<h4><%= t 'redmine_2fa.settings.common.title' %></h4>
<ul>
  <% Redmine2FA::AVAILABLE_PROTOCOLS.each do |protocol| %>
    <li style="display: inline-block">
      <%= check_box_tag "settings[active_protocols][]", protocol,
                        @settings["active_protocols"].try(:include?, protocol),
                        id: "settings_active_protocols_#{protocol}"
      %>
      <%= label_tag "settings_active_protocols_#{protocol}", l("redmine_2fa.protocols.#{protocol}"),
                    style: 'margin-left: 0; float: none;' %>
    </li>
  <% end %>
</ul>

<h4>Telegram</h4>
<p>
  <label for="settings_bot_token">Bot Token</label>
  <%= text_field_tag 'settings[bot_token]', @settings['bot_token'], size: 50 %>
</p>
<table style="width: 100%">
  <tr>
    <td style="width: 50%"><h3><%= t('redmine_2fa.settings.telegram.init.header') %></h3></td>
    <td style="width: 50%"><h3><%= t('redmine_2fa.settings.telegram.reset.header') %></h3></td>
  </tr>
  <tr>
    <td>
      <%= t('redmine_2fa.settings.telegram.init.description_html') %>
    </td>
    <td>
      <%= t('redmine_2fa.settings.telegram.reset.description_html') %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to otp_bot_init_path, method: 'post' do %>
        <button type="button"><%= t('redmine_2fa.settings.telegram.init.button_text') %></button>
      <% end %>
    </td>
    <td>
      <%= link_to otp_bot_reset_path, method: 'delete' do %>
        <button type="button"><%= t('redmine_2fa.settings.telegram.reset.button_text') %></button>
      <% end %>
    </td>
  </tr>
</table>

<%= hidden_field_tag 'settings[bot_name]', @settings['bot_name'] %>
<%= hidden_field_tag 'settings[bot_id]', @settings['bot_id'] %>
