<div id="init2FA">

  <% if Redmine2FA.active_protocols.size > 1 %>
    <center>
      <strong><%= t('redmine_2fa.second_authentications.init.instruction') %>:</strong>
    </center>
    <%= form_tag(confirm_2fa_path, id: 'init2FAForm') do %>
      <%= render 'account/autologin' %>

      <div id="init2FAFormAuthSources">
        <% Redmine2FA.active_protocols.each do |protocol| %>
          <div class="authSource">
            <%= radio_button_tag 'protocol', protocol, false, data: { protocol: protocol } %>
            <%= label_tag "protocol_#{protocol}", t("redmine_2fa.protocols.#{protocol}") %>
          </div>
        <% end %>
      </div>
    <% end %>
    <table>
      <% Redmine2FA.active_protocols.each do |protocol| %>
        <%= render "account/init_2fa/#{protocol}", style: 'display: none' %>
      <% end %>
    </table>
  <% else %>
    <% protocol = Redmine2FA.active_protocols.first %>

    <%= form_tag(confirm_2fa_path, id: 'init2FAForm') do %>
      <%= render 'account/autologin' %>
      <%= hidden_field_tag 'protocol', protocol %>
    <% end %>
    <table>
      <%= render "account/init_2fa/#{protocol}", style: '' %>
    </table>
  <% end %>
</div>

<script>
  $('input:radio[name="protocol"]').change(function () {
    if ($(this).is(':checked')) {
      var protocol = $(this).data('protocol');
      $('.instruction2FA').hide();
      $('.' + protocol + 'Instruction').show();
    }
  });
</script>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
  <%= stylesheet_link_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
<% end %>
