<div id="init2FA">

  <% if RedmineTwoFa.active_protocols.keys.size > 1 %>
    <center>
      <strong><%= t('redmine_2fa.second_authentications.init.instruction') %>:</strong>
    </center>
    <%= form_tag(confirm_2fa_path, id: 'init2FAForm') do %>
      <%= render 'account/autologin' %>

      <div id="init2FAFormAuthSources">
        <% RedmineTwoFa.active_protocols.each do |identifier, _protocol| %>
          <div class="authSource">
            <%= radio_button_tag 'protocol', identifier, false, data: { protocol: identifier } %>
            <%= label_tag "protocol_#{identifier}", t("redmine_2fa.protocols.#{identifier}") %>
          </div>
        <% end %>
      </div>
    <% end %>
    <table>
      <% RedmineTwoFa.active_protocols.each do |_identifier, protocol| %>
        <%= render protocol.initial_partial, style: 'display: none', protocol: protocol %>
      <% end %>
    </table>
  <% else %>
    <% protocol = RedmineTwoFa.active_protocols.values.first %>
    <% identifier = RedmineTwoFa.active_protocols.keys.first %>

    <%= form_tag(confirm_2fa_path, id: 'init2FAForm') do %>
      <%= render 'account/autologin' %>
      <%= hidden_field_tag 'protocol', identifier %>
    <% end %>
    <table>
      <%= render "account/init_2fa/#{identifier}", style: '', protocol: protocol %>
    </table>
  <% end %>
</div>

<script>
  $('input:radio[name="protocol"]').change(function () {
    if ($(this).is(':checked')) {
      var protocol = $(this).data('protocol');
      $('.instruction2FA').hide();
      $('.' + protocol + 'Instruction').show();
    }
  });
</script>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
  <%= stylesheet_link_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
<% end %>
