<div id="login-form">
  <%= form_tag(otp_code_confirm_path) do %>
    <% if params[:autologin] %>
      <%= hidden_field_tag 'autologin', params[:autologin] %>
    <% end %>
    <table style="width: 350px;">
      <% if @user&.telegram_account.present? %>
        <tr>
          <td align="right"><label for="otp_code"><%= t 'redmine_2fa.auth_code' %>:</label></td>
          <td align="right"><%= text_field_tag :otp_code, nil, autocomplete: 'off', autofocus: true %></td>
        </tr>
        <tr id="otpCodeResentInstruction" style="display: none">
          <%= debug @hide_countdown %>
          <td align="center" colspan="2">
            <%= t('redmine_2fa.resend.instruction_html', timeout: 30) %>
          </td>
        </tr>
        <tr>
          <td align="left">
            <%= link_to t('redmine_2fa.resend.link'), otp_code_resend_path, remote: true, id: 'otpCodeResendLink' %>
          </td>
          <td align="right" colspan="1">
            <input type="submit" name="login" value="<%= l(:button_login) %> &#187;"/>
          </td>
        </tr>

      <% else %>
        <tr>
          <td align="left" colspan="2">
            <strong><%= t 'redmine_2fa.new_connection.title' %></strong>
            <%= t 'redmine_2fa.new_connection.instruction_html', bot_name: Setting.plugin_redmine_2fa['bot_name'] %>
          </td>

        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<script>
  function startOtpTimer() {
    var duration = 30,
        display = document.querySelector('#otpCodeResendTimer'),
        timer = duration,
        seconds,
        nIntervId;

    $('#otpCodeResendLink').hide();
    $('#otpCodeResentInstruction').show();

    nIntervId = setInterval(function () {

      seconds = parseInt(timer, 10);

      display.textContent = seconds;

      if (--timer < 0) {
        $('#otpCodeResendLink').show();
        $('#otpCodeResentInstruction').hide();
        display.textContent = duration;
        clearInterval(nIntervId);
      }
    }, 1000);
  }
</script>

<% unless @hide_countdown %>
  <%= script_tag 'window.onload = function () {startOtpTimer();};' %>
<% end %>
