<div id="login-form">
  <table style="width: 500px;">
    <%= form_tag(second_authentication_confirm_path, method: :put, id: 'init2FAForm' ) do %>

      <% if params[:autologin] %>
        <%= hidden_field_tag 'autologin', params[:autologin] %>
      <% end %>

      <tr>
        <th colspan="3"><%= t('redmine_2fa.second_authentications.init.instruction') %></th>
      </tr>

      <tr>
        <% Redmine2FA::AuthSource.all.each do |auth_source| %>
          <td style="width: 33%" align="center">
            <%= radio_button_tag 'auth_source_id', auth_source.id, false, data: { protocol: auth_source.protocol } %>
            <%= label_tag "auth_source_id_#{auth_source.id}", auth_source.auth_method_name %>
          </td>
        <% end %>
      </tr>
    <% end %>

    <%= render 'second_authentications/sms' %>
    <%= render 'second_authentications/telegram' %>
    <%= render 'second_authentications/google_auth' %>

  </table>
</div>


<% content_for :header_tags do %>
  <%= javascript_include_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
  <%= stylesheet_link_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
<% end %>

