<div id="login-form">
  <table style="width: 500px;">
    <%= form_tag(user_auth_protocol_confirm_path) do %>
      <% if params[:autologin] %>
        <%= hidden_field_tag 'autologin', params[:autologin] %>
      <% end %>


      <tr>
        <th colspan="3">Пожалуйста, выберите способ двухфакторной авторизации</th>
      </tr>

      <tr>
        <% Redmine2FA::AuthSource.all.each do |auth_source| %>
          <td>
            <%= radio_button_tag 'auth_source_id', auth_source.id, data: { protocol: auth_source.protocol } %>
            <%= label_tag "auth_source_id_#{auth_source.id}", auth_source.auth_method_name %>
          </td>
        <% end %>

      </tr>


      <tr>

        <td align="right" colspan="3">
          <input type="submit" name="login" value="<%= l(:button_next) %> &#187;"/>
        </td>
      </tr>


    <% end %>
    <tr id="smsInstruction">
      <td colspan="3">
        <%= t 'redmine_2fa.new_connection.instruction_html', bot_name: Setting.plugin_redmine_2fa['bot_name'] %>
      </td>
    </tr>
    <tr id="telegramInstruction">
      <td colspan="3">
        <%= t 'redmine_2fa.new_connection.instruction_html', bot_name: Setting.plugin_redmine_2fa['bot_name'] %>
      </td>
    </tr>

    <tr id="googleInstruction">
      <td colspan="3">
        <%= render 'qr_code' %>
      </td>
    </tr>


  </table>
</div>


<% content_for :header_tags do %>
  <%= javascript_include_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
  <%= stylesheet_link_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
<% end %>

