<div id="login-form">
  <%= form_tag(otp_code_confirm_path, method: 'put') do %>
    <% if params[:autologin] %>
      <%= hidden_field_tag 'autologin', params[:autologin] %>
    <% end %>
    <table style="width: 350px;">

      <tr>
        <td align="right"><label for="otp_code"><%= t 'redmine_2fa.auth_code' %>:</label></td>
        <td align="right"><%= text_field_tag :otp_code, nil, autocomplete: 'off', autofocus: true %></td>
      </tr>


      <tr id="otpCodeResentInstruction" style="display: none">
        <td align="center" colspan="2">
          <%= t('redmine_2fa.resend.instruction_html', timeout: 30) %>
        </td>
      </tr>

      <tr>
        <td align="left">
          <% unless @user.has_google_auth? %>
            <%= link_to t('redmine_2fa.resend.link'), otp_code_resend_path, method: 'post', remote: true,
                        id: 'otpCodeResendLink' %>
          <% end %>
        </td>
        <td align="right" colspan="1">
          <input type="submit" name="login" value="<%= l(:button_login) %> &#187;"/>
        </td>
      </tr>

    </table>
  <% end %>
</div>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
  <%= stylesheet_link_tag 'redmine_2fa', plugin: 'redmine_2fa' %>
<% end %>


<% unless @hide_countdown or @user.has_google_auth? %>
  <%= javascript_tag 'window.onload = function () {startOtpTimer();};' %>
<% end %>
